.App {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 20% 80%;
}

.homepage {
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.chart-container {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(3, 33%);
  height: 100vw;
  width: 100vw;
  align-items: center;
}

.dragon-img {
  width: 100%;
  z-index: 2;
  grid-area: 2/2/3/3;
}

.donut-chart {
  height: 100%;
  width: 100%;
  margin: auto;
  align-items: stretch;
  grid-area: 1/1/4/4;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.funds-text {
  height: 5vh;
  text-align: center;
}

.expense-list {
  display: flex;
  flex-direction: column;

}

.expense-card {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items:center;
}

.expense-info {
  display: grid;
  grid-template-columns: 30% 70%;
  text-align: center;
}

.add-expense-modal {
  z-index: 1;
  position: absolute;
  background: #202D32;
  border-radius: 1rem;
  border: 10px solid #182226;
  width: 90vw;
  min-height: 45vh;
  margin: 0 3%;
}

.expense-form {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(5,20%);
  grid-row-gap: 10px;
  text-align: justify;
  margin-left: 1rem;
  margin-right: 1rem;
}

.add-button {
  grid-area: 5/1/5/3;
  width: 90%;
  border-radius: 5px;
  margin: auto;
}

.expense-head {
  margin-left: 1rem;
}

.add-income-modal {
  z-index: 1;
  position: absolute;
  background: #202D32;
  border-radius: 1rem;
  border: 10px solid #182226;
  width: 90vw;
  min-height: 45vh;
  margin: 0 3%;
}

.add-income-form {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(3, 33%);
  grid-row-gap: 10px;
  text-align: justify;
  margin-left: 1rem;
  margin-right: 1rem;
}

.add-hoard-button {
  margin-right: 10px 
}

.reset-hoard-button {
  margin-left: 10px
}

.income-head {
  margin-left: 1rem;
}