.App {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 10% 90%;
}

.header-container {
  height: 100%;
}
.header-bar {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 100%;
  align-items: stretch;
  height: 100%;
  padding-right: 5px;
  padding-top: 5px;
}

.nav-button {
  width: 100%;
  font-size: 3rem;
  border: 10px solid gray;
}

.material-symbols-outlined {
  font-size: 4rem;
  margin: auto;
}

.nav-list {
  z-index: 3;
  position: absolute;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 100%;
  /* grid-row-gap: 1px; */
  min-width: 80vw;
  min-height: 50vh;
  right: 5px;
  justify-content: space-around;
}
.hoardr-text {
  margin: none;
  align-self: center;
  padding-top: -0.3rem;
  margin-left: 1rem;
  font-size: 5rem;
}

.homepage {
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.chart-container {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(3, 33%);
  height: 100vw;
  width: 100vw;
  align-items: center;
}

.dragon-img {
  width: 100%;
  z-index: 2;
  grid-area: 2/2/3/3;
}

.donut-chart {
  height: 100%;
  width: 100%;
  margin: auto;
  align-items: stretch;
  grid-area: 1/1/4/4;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.available-funds-p {
  font-size: 2rem;
  word-wrap: normal;
  line-height: 2rem;
}

.transactions-text {
  font-size: 2.5rem;
  margin-left: 1rem;
}

.add-expense-button {
  margin-left: 1rem;
}

.add-income-button {
  margin-left: 1rem;
}

.funds-text {
  height: 5vh;
  text-align: center;
}

.expense-list {
  display: flex;
  flex-direction: column;
}

.expense-card {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  margin-top: 3px;
}

.expense-info {
  display: grid;
  grid-template-columns: 30% 70%;
  text-align: center;
}

.add-expense-modal {
  z-index: 1;
  position: absolute;
  background: #202d32;
  border-radius: 1rem;
  border: 10px solid #182226;
  width: 90vw;
  min-height: 45vh;
  margin: 0 3%;
}

.expense-form {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(5, 20%);
  grid-row-gap: 10px;
  text-align: justify;
  margin-left: 1rem;
  margin-right: 1rem;
}

.add-button {
  grid-area: 5/1/5/3;
  width: 90%;
  border-radius: 5px;
  margin: auto;
}

.expense-head {
  margin-left: 1rem;
}

.add-income-modal {
  z-index: 1;
  position: absolute;
  background: #202d32;
  border-radius: 1rem;
  border: 10px solid #182226;
  width: 90vw;
  min-height: 45vh;
  margin: 0 3%;
}

.add-income-form {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(3, 33%);
  grid-row-gap: 10px;
  text-align: justify;
  margin-left: 1rem;
  margin-right: 1rem;
}

.add-hoard-button {
  margin-right: 10px;
}

.reset-hoard-button {
  margin-left: 10px;
}

.income-head {
  margin-left: 1rem;
}
